<body>
    <div class="header">
        <h1>OLIMPIJADA 2020</h1>
    </div>

    <div class="navbar"> 
        <div class="navlink">
            <a href="pocetna">Home</a>
            <a href="prijava">Prijava</a>
            <a href="registracija">Registracija</a>
            <a href="lozpromena">Promena sifre</a>
        </div>
    </div>

    <div class="center">
        <div class="row">
            <div class="column" style="background-color:#aaa;">
                <p><a href="zemlja">Pregled zemalja ucesnika</a></p>
            </div>
        </div>
        <div class="row">
            <div class="column" style="background-color:#bbb;">
                <p><a href="medalja">Pregled osvojenih medalja</a></p>
            </div>
        </div>
        <div class="row">
            <div class="column" style="background-color:#ccc;">
                <p><a href="pretrazi-sportiste">Pretraga ucesnika</a></p>
            </div>
        </div>
    </div>
</body>